*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 100px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.link-task {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  max-height: 270px;
  padding: 10px;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
